/* Geral */
* {
  padding: 0;
  margin: 0;
  /*Largura máxima do elemento pai*/
  box-sizing: border-box;
  font-family: Verdana;
  color: #333;
}

body {
  background-image: url("../img/bg.jpg");
  background-position: center;
  /*Como a imagem é grande, ela se adapta a tela do usuário*/
  background-size: cover;
}

button {
  background-color: #fdfdfd;
  color: #102f5e;
  border: 2px solid #102f5e;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

button:hover {
  background-color: #102f5e;
}

/*i do icone dentro*/
button:hover > i {
  color: #fff;
}

button i {
  /*Desabilitando eventos para não transmitir para outro*/
  pointer-events: none;
  color: #102f5e;
  font-weight: bold;
}

input,
select {
  padding: 0.25rem 0.5rem;
}

/*Esconder o formulário de edição*/
.hide {
  display: none;
}

/* Todo Header */
.todo-container {
  max-width: 450px;
  /*Auto dos lados faz centralizar*/
  margin: 3rem auto 0;
  background-color: #fdfdfd;
  padding: 1.5rem;
  /*Borda do background*/
  border-radius: 15px;
}

/**Borda abaixo do título*/
.todo-container header {
  text-align: center;
  padding: 0 1rem 1rem;
  border-bottom: 1px solid #ccc;
}

/* Todo Form */
#todo-form,
#edit-form {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

#todo-form p,
#edit-form p {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-control {
  display: flex;
}

/*Afastando botão do input*/
.form-control input {
  margin-right: 0.3rem;
}

#cancel-edit-btn {
  margin-top: 1rem;
  color: #444;
}

/* Todo Toolbar */
#toolbar {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  display: flex;
}

#toolbar h4 {
  margin-bottom: 0.5rem;
}

#search {
  border-right: 1px solid #ddd;
  padding-right: 1rem;
  margin-right: 1rem;
  width: 65%;
  display: flex;
  flex-direction: column;
}

#search form {
  display: flex;
}

#search input {
  width: 100%;
  margin-right: 0.3rem;
}

#filter {
  width: 35%;
  display: flex;
  /*Texto em cima, selected em baixo*/
  flex-direction: column;
}

/*Cresce automaticamente ao fim da tela*/
#filter select {
  flex: 1;
}

/* Todo List */
.todo {
  display: flex;
  /*De um lado o título e do outro lado os botões*/
  justify-content: space-around;
  align-items: center;
  padding: 1rem 1rem;
  border-bottom: 1px solid #ddd;
  transition: 0.3s;
}

.todo h3 {
  flex: 1;
  font-size: 0.9rem;
}

/*Afastando botões uns dos outros*/
.todo button {
  margin-left: 0.4rem;
}

.done {
  background: #395169;
}

.done h3 {
  color: #fff;
  /*Linha cortando o texto*/
  text-decoration: line-through;
  font-style: italic;
}
