*{
    padding: 0;
    margin: 0;
    font-family: Helvetica;
}
.login-container {
        display: flex;
        width: 100%;
}

.login-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    background-color: #fdb4ad;
    }

.login-form h2 {
    margin-bottom: 20px;
}

.login-form input {
    display: block;
    width: 300px;
    max-width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    }

.login-form button {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    }

.login-form button:hover {
    background-color: #45a049;
    }

.image-container {
    display: flex;
    justify-content: flex-end;
}

.image-container img {
    width: 100%; /* Ajuste essa porcentagem conforme necessário */
    max-width: 383px; /* Tamanho máximo da imagem */
    height: auto; /* Mantém a proporção da imagem */
    }